@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    color: #0a2ff1;
    font-family: 'Poppins', sans-serif;}

.container{
    width: 400px;
    margin: 0 auto;
}

h1{
    font-size: 30px;
    text-align: center;
}
h1>strong{
    background-color: #3ffff3;
}

h4{
    font-size: 14px;
    text-align: center;
}

#img01{
    width: 200px;
    height: 250px;
    margin: 0 auto;
}
