@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Montserrat:wght@900&family=MuseoModerno:wght@700&family=Roboto+Mono:ital,wght@0,100;0,500;1,500&display=swap');

.container{
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.header{
    background-color: blue;
    height: 1em;
}

.text1{
    color: blue;
}

.black{
    background-color: black;
    color: #fff;
    font-size: 2em;
}
.friday{
font-size: 2em;
}

.text2{
    color: blue;
    font-size: 0.5em;
}

.descuento50poc{
    background-color: black;
    color: #fff;
    font-size: 1em;
}

.text3{
    color: blue;
    font-size: 0.5em;
}

.footer{
    background-color: blue;
    height: 1em;
}