@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 50%;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

h1{
    background-color: #04146c;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
}

h2{
    color: #04146c;
    margin: 10px;
}

p{
    font-size: 14px;
}

img{
    width: 60%;
    border: 1px solid #000;
    margin: 10px;
}

.epigrafe{
    background-color:#edf7ff ;
    color: #333;
    font-size: 14px;
    font-weight: bolder;
}